/*IMPORTING FONTS*/
@import url(https://fonts.googleapis.com/css?family=Fugaz+One|Graduate|Raleway|Open+Sans+Condensed:300);
/* CREATE THE TITLE FONT */
@font-face {
  font-family: textFont;
  src: url(/fonts/aqua-webfont.woff2), url(/fonts/aqua-webfont.woff), url(/fonts/aqua.ttf);
  font-weight: bold;
  font-style: normal; }

/* CREATE THE TEXT FONT */
@font-face {
  font-family: titleFont;
  src: url(/fonts/MANIFESTO.ttf);
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #5599ff; }

h1 {
  font-family: titleFont;
  text-align: center;
  font-size: 50px; }

#rectangle {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 570px;
  width: 125px;
  background-color: #2a2aff;
  box-shadow: 0px 0px 20px 2px black;
  margin: 0 auto; }

#circle {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 133px 133px 133px;
  height: 400px;
  width: 400px;
  background-color: #000055;
  border-radius: 200px;
  box-shadow: 0px 0px 20px 2px black; }

#countdownDiv {
  color: white;
  border: 1px solid white;
  grid-row: 1/2;
  grid-column: 2;
  font-family: textFont;
  font-size: 45px; }

#countdown {
  margin-top: 50px; }

#spsButtons {
  /*sps stands for Start Pause Stop*/
  color: white;
  border: 1px solid white;
  grid-row: 2/3;
  grid-column: 2; }

#start, #pause, #stop {
  height: 40px;
  width: 40px;
  margin-top: 25px; }

#sessionDiv {
  color: white;
  border: 1px solid white;
  grid-row: 3/4;
  grid-column: 2; }

#sessionText {
  font-family: textFont;
  font-size: 15px; }

#sessionNumber {
  text-align: center; }

#breakDiv {
  color: white;
  border: 1px solid white;
  grid-row: 3/4;
  grid-column: 1; }

#breakText {
  margin-left: 10px;
  font-family: textFont;
  font-size: 15px; }

#breakNumber {
  margin-left: 50px; }

#intervalDiv {
  color: white;
  border: 1px solid white;
  grid-row: 3/4;
  grid-column: 3; }

#intervalText {
  margin-left: 10px;
  font-family: textFont;
  font-size: 15px; }

#intervalNumber {
  margin-left: 50px; }
