.BreakContainer {
	text-align: center;
	width: 7rem;
	height: 4rem;
	margin: 0.5rem 0 1rem 0;
	padding: 0px;
}
.BreakText {
	margin: 1rem 0 0.1rem 0;
	color: white;
}

.increment, .decrement {
	display: inline-block;
	background: none;
	border: 2px solid white;
	border-radius: 10%;
	color: white;
	font-weight: bold;
}
.increment {
	margin-left: 1rem;
}